<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FinLab : Crypto Trading UI Admin  Bootstrap 5 Template">
    <meta property="og:title" content="FinLab : Crypto Trading UI Admin  Bootstrap 5 Template">
    <meta property="og:description" content="FinLab : Crypto Trading UI Admin  Bootstrap 5 Template">
    <meta property="og:image" content="https://finlab.dexignlab.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">
    <base href="/" />
    <!-- PAGE TITLE HERE -->
    @*<title>FinLab Crypto Trading UI Admin</title>*@

    <title>@ViewData["Title"] - Expense Tracker</title>
    <!-- FAVICONS ICON -->
    <!--Toast-->
    <link href="~/finlab-theme/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="../fonts.googleapis.com/css2.css" rel="stylesheet">
    <link href="~/finlab-theme/css/style.css" rel="stylesheet" />
    <link href="~/css/styleAuth.css" rel="stylesheet" />
    <link href="~/notiflix-notiflix-3.2.6/dist/notiflix-3.2.6.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper" class="wallet-open active">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    @RenderSection("header", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer out-footer style-1">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://dexignlab.com/" target="_blank">DexignLab</a> 2023</p>
            </div>
        </div>

        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/finlab-theme/vendor/global/global.min.js"></script>
    <script src="~/finlab-theme/js/dlabnav-init.js"></script>
    <script src="~/finlab-theme/js/styleSwitcher.js"></script>
    <script src="~/finlab-theme/js/custom.min.js"></script>
    <script src="~/notiflix-notiflix-3.2.6/dist/notiflix-3.2.6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("scripts", required: false)

    @*@RenderSection("scripts", required: false)*@
    <script>

        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());

        });

        $(document).ready(function () {
            $(".booking-calender .fa.fa-clock-o").removeClass(this);
            $(".booking-calender .fa.fa-clock-o").addClass('fa-clock');
        });
        $('.my-select').selectpicker();
    </script>
</body>
</html>
